<div>
	<h1><%= @webpage.name %></h1>
	<h3>Bookmarked pages:</h3>
	<% @webpage.bookmarks.each do |b| %>
		<% bookmarked_page = "#{@webpage.protocol}#{@webpage.name}#{b.name}" %>
		<li><%= link_to bookmarked_page, bookmarked_page %></li>
	<% end %>
</div>
